.container {
   display: flex;
   justify-content: center;
   justify-content: space-evenly;
   padding: 3rem 0;
   margin: 0 auto;
}

.texto {
   width: 39%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   color: var(--cinza);

   p {
      font-weight: 500;
      font-size: 20px;
      line-height: 40px;
      margin: 2rem 0;
   }
}

.icones {
   display: flex;
   align-items: center;
}

.icone {
   font-size: 1.8em;
   align-items: center;
}

.button {
   background-color: var(--azul-escuro);
   border-radius: 5px;
   border: none;
   margin-top: 2rem;
   box-shadow: 4px 4px 0px #444444;
   border-radius: 16px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: flex-end;

   gap: 16px;
   padding: 8px 16px;

   width: 256px;
   height: 56px;

   font-style: normal;
   font-weight: 700;
   font-size: 20px;
   line-height: 40px;
   color: var(--branco);
}

.button:hover {
   background: #519EC5;
   box-shadow: 4px 4px 0px #000000;
}

.link {
   display: flex;
   align-items: center;

   img {
      padding-left: 10px;
   }
}

@media (max-width: 860px) {
   .container {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 80%;
   }

   .texto {
      width: 100%;
      margin-top: 2rem;
   }
}